{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Pantry{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/pantry.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Rubik&display=swap" rel="stylesheet">
</head>
<body>

<header class="page-header bg-light py-3">
    <div class="container">       
        <h1 class="text-center">Pantry App</h1>
    </div>
</header>

<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'ingredient_list' %}">My Pantry</a>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto">
                <li class="nav-item"><a href="{% url 'ingredient_list' %}" class="nav-link {% if active_category == 'all' %}active{% endif %}">All</a></li>
                <li class="nav-item"><a href="{% url 'ingredient_list_by_category' 'pantry' %}" class="nav-link {% if active_category == 'pantry' %}active{% endif %}">Pantry</a></li>
                <li class="nav-item"><a href="{% url 'ingredient_list_by_category' 'fridge' %}" class="nav-link {% if active_category == 'fridge' %}active{% endif %}">Fridge</a></li>
                <li class="nav-item"><a href="{% url 'ingredient_list_by_category' 'freezer' %}" class="nav-link {% if active_category == 'freezer' %}active{% endif %}">Freezer</a></li>
                <a href="{% url 'search_ingredients' %}" class="nav-link {% if active_category == 'search' %}active{% endif %}">Search</a>
            </ul>

            <a href="{% url 'add_pantry_item' %}" class="btn btn-outline-success">+ Add Ingredient</a>
        </div>
    </div>
</nav>

<section class="container my-4">
    {% block content %}
    {% endblock %}
</section>

</body>
</html>

