{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Pantry{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/pantry.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Rubik&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">

</head>
<body>

    <header class="page-header bg-light py-3">
        <div class="container d-flex justify-content-between align-items-center">
            <h1 class="mb-0 text-start">Meal Planner</h1>
            <form class="d-flex ms-auto" method="GET" action="{% url 'search_ingredients' %}">
                <input class="form-control me-2" type="search" name="q" placeholder="Search..." value="{{ request.GET.q }}">
                <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i>Search</button>
            </form>

        </div>
    </header>

    <div class="wrapper">
        <!-- Sidebar -->
        <nav class="sidebar">
            <ul>
                <li><a href="{% url 'dashboard' %}"><i class="bi bi-speedometer2"></i> Dashboard</a></li>
                <li><a href="{% url 'ingredient_list_all' %}" class="{% if active_category == 'all' %}active{% endif %}"><i class="bi bi-grid"></i> All</a></li>
                <li><a href="{% url 'ingredient_list_by_category' 'pantry' %}" class="{% if active_category == 'pantry' %}active{% endif %}"><i class="bi bi-basket"></i> Pantry</a></li>
                <li><a href="{% url 'ingredient_list_by_category' 'fridge' %}" class="{% if active_category == 'fridge' %}active{% endif %}"><i class="bi bi-thermometer-snow"></i> Fridge</a></li>
                <li><a href="{% url 'ingredient_list_by_category' 'freezer' %}" class="{% if active_category == 'freezer' %}active{% endif %}"><i class="bi bi-snow"></i> Freezer</a></li>
                <li><a class="nav-link" href="{% url 'view_saved_recipes' %}"><i class="bi bi-bookmark"></i> Saved Recipes</a></li>
                <li><a href="{% url 'logout' %}"><i class="bi bi-box-arrow-right me-2"></i> Log out</a></li>
            </ul>
        </nav>
    
    </nav>
    <main class="main-content">
        {% block content %}
        {% endblock %}
    </main>
    </div>
</body>
</html>

