{% extends 'pantry/base.html' %}

{% block content %}
<h2 class="mb-4">Your Saved Recipes</h2>

{% if saved_recipes %}
  <div class="ingredient-grid">
    {% for recipe in saved_recipes %}
      <div class="ingredient-card">
        <img src="{{ recipe.image }}" class="ingredient-image" alt="{{ recipe.title }}">
        <h5>{{ recipe.title }}</h5>

        <div class="card-actions">
          <a href="{% url 'recipe_detail' recipe.recipe_id %}" class="btn btn-recipe">
            <i class="bi bi-book"></i> View
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
{% else %}
  <p>You haven't saved any recipes yet.</p>
{% endif %}
{% endblock %}
