{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2 class="mb-4">Search Results</h2>

{% if results %}
<div class="ingredient-grid mt-4">
    {% for ingredient in results %}
    
  <div class="ingredient-card">
      <img src="https://spoonacular.com/cdn/ingredients_250x250/{{ ingredient.image }}" alt="{{ ingredient.name }}" class="ingredient-image">
      
          <h5 >{{ ingredient.name }}</h5>
          <form method="POST" action="{% url 'add_pantry_item' %}" style="display: flex; flex-direction: column; gap: 8px;" >
            {% csrf_token %}
            <input type="hidden" name="ingredient_name" value="{{ ingredient.name }}">
            <input type="hidden" name="image_url" value="{{ ingredient.image }}">

            <div class="mb-2">
              <input type="number" name="quantity" value="1" min="1" class="form-control" required placeholder="Quantity">
            </div>

            <div class="mb-2">
              <select name="unit" class="form-select">
                <option value="unit">unit</option>
                <option value="g">g</option>
                <option value="kg">kg</option>
                <option value="ml">ml</option>
                <option value="l">l</option>
                <option value="pcs">pcs</option>
              </select>
            </div>

            <div class="mb-2">
              <select name="storage_location" class="form-select">
                <option value="Pantry">Pantry</option>
                <option value="Fridge">Fridge</option>
                <option value="Freezer">Freezer</option>
              </select>
            </div>

            <div class="mb-2">
            
              <input type="date" id="expiry_date" name="expiry_date" class="form-control" placeholder="Expiry date">
            </div>

            <button type="submit" class="btn btn-success w-100">
              <i class="bi bi-plus-circle"></i> Add to Pantry
            </button>
          </form>

           
       
  </div>  
  {% endfor %}
</div>  
{% endif %}
{% endblock %}
