{% extends 'pantry/base.html' %}
{% load custom_tags %} 

{% block content %}
<div class="overflow-x-auto bg-white border border-gray-300 rounded-lg">
  <table class="min-w-full text-sm text-left border-collapse">
    <thead class="bg-green-100 text-gray-800">
      <tr>
        <th class="p-2 border border-gray-200">Meal</th>
        {% for day_code, day_name in DAYS %}
          <th class="p-2 border border-gray-200">{{ day_name }}</th>
        {% endfor %}
      </tr> 
    </thead>
    <tbody>
      {% for meal, days in plan.items %}
        <tr class="border-t">
          <td class="p-2 font-semibold border border-gray-200">{{ meal }}</td>
          {% for day_code, day_name in DAYS %}
            <td class="p-2 border border-gray-200">{{ days|get_item:day_code }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody> 
  </table>
</div>
{% endblock %}