# Python
 HEAD
__pycache__/
*.py[cod]

# Django
*.log
*.pot
*.pyc
.env

# VSCode
.vscode/

# Migrations
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.pyd
 HEAD

# Env
=======
=======
*.pyc
*~
__pycache__

# Env
.env
 52899d0 (Updated dashboard.html before merging)
myvenv/
venv/

# Windows
Thumbs.db*
ehthumbs*.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Visual Studio
 HEAD
.history/
*.code-workspace
=======
.vscode/
.history/
*.code-workspace
 origin/pantry-feature
 52899d0 (Updated dashboard.html before merging)
