# Python
__pycache__/
*.py[cod]

# Django
db.sqlite3
*.log
*.pot
*.pyc
.env

# VSCode
.vscode/

# Migrations
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.pyd

# Env
myvenv/
venv/

# Database
db.sqlite3

# Static folder at project root
/static/

# Windows
Thumbs.db*
ehthumbs*.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Visual Studio
.history/
*.code-workspace
